<mat-sidenav-container fullscreen>
  <mat-sidenav #sidenav>
    <mat-nav-list (click)="sidenav.close()">
      <a mat-list-item routerLink="add/course">
        <span>&nbsp;Add New Course</span><mat-icon style="float: left;">add_box</mat-icon>
      </a>
      <a mat-list-item routerLink="courses"> 
        <span>&nbsp;Course List</span><mat-icon style="float: left;">list</mat-icon>
      </a>
      <a mat-list-item routerLink="stepRegister"><span>&nbsp;Register in steps</span><mat-icon style="float:left">person_add</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
<div>
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <button  mat-icon-button (click)="sidenav.open()" class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-icon>menu</mat-icon>
      </button>
      <a mat-button routerLink="">Home<mat-icon>home</mat-icon></a>
      <a mat-button [matMenuTriggerFor]="dropdown">
        <mat-icon>arrow_drop_down</mat-icon>Menu
      </a>
      <mat-menu #dropdown>
        <button mat-menu-item routerLink="login">Login</button>
        <button mat-menu-item routerLink="register">Registration</button>
      </mat-menu>
      <a mat-button [matMenuTriggerFor]="dropdown1">
        About Us<mat-icon>arrow_drop_down</mat-icon>
      </a>
      <mat-menu #dropdown1>
        <button mat-menu-item (click)="contactDetails()">CEO Message</button>
        <button mat-menu-item (click)="ceoMessage()">Contact Us</button>
      </mat-menu>&nbsp;
      <!-- <button mat-raised-button color="warn" (click)="openDialog()">Open Dialog</button> -->
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
        <mat-icon>share</mat-icon>
      </button>
    </mat-toolbar-row>
    <!-- <mat-toolbar-row>
      <span>Second Line</span>
    </mat-toolbar-row> -->
  </mat-toolbar>
</div>
  <!-- <mat-progress-bar mode="indeterminate"></mat-progress-bar> -->
<router-outlet></router-outlet>
</mat-sidenav-container>