<h1 mat-dialog-title>About Us</h1>
<div mat-dialog-content><h1>Ceo Message</h1>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab at et tempore beatae impedit inventore sapiente, quasi corporis illum ex cumque esse repellat repellendus explicabo architecto ullam, reprehenderit saepe doloremque?
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Officiis soluta, omnis error rerum commodi magnam dolor sint reprehenderit numquam voluptas quam laudantium distinctio esse consequuntur, aperiam minima sed libero quae.
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Excepturi repudiandae facere corporis, odit enim similique dolores esse dolore nesciunt consectetur blanditiis assumenda fugiat velit minus quam est sint, vero voluptatibus?
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Distinctio, totam vitae numquam ipsam, delectus, quia exercitationem molestias ullam veniam nihil obcaecati mollitia! Quae fugiat, optio esse quis fugit eaque odit.
    </p>
<h1>Contact Details</h1>
<p>
    <b>Address : </b> Some Address<br>
    <b>Contact No. : </b> 7890643241<br>
    <b>Email Address : </b>somecompanyname@somedomain.com
</p>
<div mat-dialog-actions [align]="'end'">
    <button mat-raised-button color="warn" mat-dialog-close>Close</button>
  </div>
</div>
